:root{ 
  --mainClr: #1f1b4b;
  --clrIndigo200: #c7d2fe;
  --clrCyan300: #67e8f9;
  --clrSky400: #38bdf8;
  --clrTeal500: #14b8ac;
  --clrBlue100: #dbeafe;

 /*--- for uniform sizing ---*/
  --size-xxs: 0.5rem;
  --size-xs: 0.75;
  --size-sm: 0.875;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color for the entire page */
body {
  background-color: var(--mainClr);
  font-family: Ubuntu, sans-serif;
  color: var(--clrIndigo200);
  max-width: 1500px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--clrIndigo200);
}

a, button, input {
  cursor: pointer;
}

.section {
  margin-bottom: var(--size-base);
}



/*---------------------------------------------------------------*/
/*
  html file
  
  <div class="slide-container">
    <div class="slide-content">
      <div class="card-wrapper">
        <div class="card">
          <div class="image-content">
            <span class="overlay"></span>

            <div class="card-image">
              <img src="">
            <div>
          </div>

          <div class="card-content">
            <h2 class="name">David Dell</h2>
            <p class="description">lorem</p>

            <button class="button">view more</button>
          </div>
        </div>
      </div>
    </div>
  </div>

*/

/*
  styles
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
  }
    
  .slide-container {
    max-width: 1120px;
    width: 100%;
    background-color: gray;
  }

  .slide-content {
    margin: 0 40px;
  }

  .card {
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
  }

  .image-content, 
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }

  .image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
  }

  .overlay::before,
  .overlay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
  }

  .overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
  }

  .card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;    
    background: #FFF;
    padding: 3px;
  }

  .card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4
  }

  .name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }

  .description {
    font-size: 14px;
    color: #707070;
    text-align: center;
  }

  .button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button:hover {
    background: #265df2;
  }

*/
