
/*----------------------RESPONSIVE DESIGN -------------------------*/
/*--- s ---*/
@media (min-width: 640px)
{
	.container
		{
			max-width: 640px;
		}
}

/*--- md ---*/
@media (min-width: 768px)
{
	.container
		{
			max-width: 768px;
		}
}

/*--- lg ---*/
@media (min-width: 1024px)
{
	.container
		{
			max-width: 1024px;
		}
		
	.section 
	{
		margin-top: 5rem;
	}

}

/*--- xl ---*/
@media (min-width: 1280px)
{
	.container
		{
			max-width: 1280px;
		}
}

/*--- 2xl ---*/
@media (min-width: 1536spx)
{
	.container
		{
			max-width: 1536px;
		}
}